html{
  box-sizing:border-box;
  height: 100%;
  scroll-behavior: smooth;
}


*,
*::before,
*::after{
  box-sizing:inherit;
}


body{
display: flex;
flex-direction: column;
height: 100%;
padding: 0;
margin: 0;
font-family:"Montserrat","arial", serif;
font-size: 15px;
line-height: 28px;
background-color: #F2F2F2;
color: #000;

}


img{
max-width: 100%;
height: auto;

}

.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */

.main-content{
  flex-grow: 1;
}


.site-top {
margin-top: 70px;
  text-align: center;
}
.site-heading {
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
  color:  #6E728E;
margin: 0;
}

.site-heading-link{

  text-decoration: none;
}

.site-how-long{
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 40px;
}

.how-long {
  font-style: normal;
  font-weight: bold;
  color: #6E728E;
    opacity: 0.5;
}

.site-top-buttons {
  width: 56px;
  height: 32px;
  border: 0;
  margin-right: 24px;
  margin-left: 24px;
  background: #696EDD;
  border-radius: 16px;
}
.site-top-botton {
  display: inline-block;
width: 24px;
height: 24px;
background-color: #fff;
border:0;
}

.button-year{

}

.button-month{

}
.boxs{
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 65px;

}
.box {
  width: 350px;

  padding: 0;
  text-align: center;
  background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
border-radius: 10px 0px 0px 10px;

}


.box-center{

background: linear-gradient(135.06deg, #A2A7F0 -0.05%, #696EDD 100.05%);
box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
border-radius: 10px;

}

.box-center li{
  color: #fff;
}

.box-right{
  border-radius: 0 10px 10px 0;
}
.box-hr{
width: 288px;
height: 1px;
background-color: #6E728E;;
opacity: 0.25;
}

.box-center-hr{
  background-color: #fff;
}

.box-li{
  list-style: none;
}
.box-title {
  font-style: normal;
font-weight: bold;
  font-size: 18px;
margin-top: 31px;
color: #6E728E;
}

.box-center-title{
  color: #fff;
  margin-top: 54px;
}

.dollor-icon{
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 40px;
line-height: 49px;
text-align: center;
letter-spacing: -1.2px;

color: #4A4D60;
margin-right: 8px;
}

.dollor-icon-center{
  color: #fff;
}

.box-how-much {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 71px;
letter-spacing: -2.16px;
color: #4A4D60;
margin-top: 24px;
margin-bottom: 32px;
}

.box-storage {
  margin: 12px;
  color: #6E728E;

}

.box-user {
  margin: 12px;
  color: #6E728E;

}

.box-send-up-to {
  margin: 12px;
  color: #6E728E;

}

.box-bottom {
display: inline-flex;
justify-content: center;
align-items: center;
background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
border-radius: 6px;
margin-top: 32px;
margin-bottom: 31px;

}



.box-bottom-link {
  width: 288px;
  padding: 14px 66px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.39286px;
  text-decoration: none;
  color: #FFFFFF;

}

.box-bottom-link:hover{
  background-color: #fff;
  color: #6D72DE;
  border: 1px solid  #6D72DE;;
box-sizing: border-box;
border-radius: 6px;
}

.box-bottom-center {
  margin-bottom: 54px;
  background:0;
  background-color: #fff;
}

.box-bottom-center-link {
  color: #6D72DE;
}

.box-bottom-center-link:hover{
  border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 6px;
color: #fff;
  background: linear-gradient(135deg, #A2A7F0 0.05%, #696EDD 100.05%);
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px;
}
